# Import Required Libraries

Problem Statement:  Perfrom KMeans Clustering and  on The data set with 5 number of clusters and PCA with 100 components

In [9]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import os
os.chdir('D:\Edureka DataSets')

In [2]:
# Read the file
df = pd.read_json('NewsArticles.json')
df

,Article,Preprocessed-Article,Vector
161,Iran jails blogger for 14 years\n\nAn Iranian ...,Iran jails blogger 14 years An Iranian weblogg...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
166,UK gets official virus alert site\n\nA rapid a...,UK gets official virus alert site A rapid aler...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
76,O'Sullivan could run in Worlds\n\nSonia O'Sull...,OSullivan could run Worlds Sonia OSullivan ind...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8,Mutant book wins Guardian prize\n\nA book abou...,Mutant book wins Guardian prize A book evoluti...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
158,Microsoft seeking spyware trojan\n\nMicrosoft ...,Microsoft seeking spyware trojan Microsoft inv...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...
148,UK net users leading TV downloads\n\nBritish T...,UK net users leading TV downloads British TV v...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
110,Crisis 'ahead in social sciences'\n\nA nationa...,Crisis ahead social sciences A national body d...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
115,Labour plans maternity pay rise\n\nMaternity p...,Labour plans maternity pay rise Maternity pay ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
53,Indonesians face fuel price rise\n\nIndonesia'...,Indonesians face fuel price rise Indonesia gov...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
21,Film row over Pirates 'cannibals'\n\nPlans to ...,Film row Pirates cannibals Plans portray Domin...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [4]:
# So we change the type the this Vector column because we cannot apply the KMeans and PCA on this single column.
det = df['Vector']
det

161    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
166    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
76     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
8      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
158    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                             ...
148    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
110    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
115    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
53     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
21     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: Vector, Length: 179, dtype: object

In [7]:
# Make the data into DataFrame so every single column and rows can its different term
Vectors = pd.DataFrame(list(det))
Vectors

,0,1,2,3,4,5,6,7,8,9,...,8858,8859,8860,8861,8862,8863,8864,8865,8866,8867
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Now Apply KMeans

In [14]:
model = KMeans(n_clusters = 5)
model.fit(Vectors)
print('SSE:',model.inertia_)

SSE: 164.64656389985163

# Now Apply PCA

In [26]:
pca = PCA(n_components = 100)
pca.fit(Vectors.transpose())
new_vectors = pd.DataFrame(pca.components_).transpose()
new_vectors.shape

(179, 100)

# KMean After PCA

In [28]:
model_afterPCA = KMeans(n_clusters = 5)
model_afterPCA.fit(new_vectors)
print('SSE:',model_afterPCA.inertia_)

SSE: 95.40723138440391

In [32]:
df['labelwithoutpca'] = model.labels_

In [31]:
df['labelafterpca'] = model_afterPCA.labels_

In [39]:
for i,j in df.groupby('labelwithoutpca'):
    print('Label',i)
    print(' '.join(j['Preprocessed-Article']).lower().encode('utf-8').split()[:50])

Label 0
[b'mutant', b'book', b'wins', b'guardian', b'prize', b'a', b'book', b'evolution', b'mutants', b'science', b'abnormality', b'guardian', b'first', b'book', b'award', b'2004', b'armand', b'marie', b'leroi', b'lecturer', b'london', b'imperial', b'college', b'scooped', b'\xc2\xa310000', b'prize', b'mutants', b'on', b'form', b'varieties', b'errors', b'human', b'body', b'it', b'profoundly', b'cultured', b'beautifully', b'written', b'best', b'tradition', b'popular', b'science', b'writing', b'today', b'said', b'judge', b'claire', b'armistead', b'the', b'award']
Label 1
[b'osullivan', b'could', b'run', b'worlds', b'sonia', b'osullivan', b'indicated', b'would', b'like', b'participate', b'next', b'month', b'world', b'cross', b'country', b'championships', b'st', b'etienne', b'athletics', b'ireland', b'hinted', b'35yearold', b'cobh', b'runner', b'may', b'included', b'official', b'lineup', b'event', b'france', b'1920', b'march', b'provincial', b'teams', b'selected', b'last', b'saturday', b'nationals', b'santry', b'officially', b'announced', b'week', b'osullivan', b'present', b'preparing', b'london', b'marathon', b'17', b'april', b'the']
Label 2
[b'artists', b'secret', b'postcards', b'sale', b'postcards', b'artists', b'including', b'damien', b'hirst', b'tracey', b'emin', b'sold', b'hours', b'opening', b'royal', b'academy', b'arts', b'annual', b'secrets', b'sale', b'the', b'identity', b'artist', b'remains', b'unknown', b'work', b'bought', b'signature', b'revealed', b'back', b'there', b'still', b'big', b'names', b'left', b'mario', b'testino', b'said', b'rca', b'spokeswoman', b'sue', b'bradburn', b'all', b'postcards', b'priced', b'\xc2\xa335', b'the', b'sale', b'opened', b'8am']
Label 3
[b'iran', b'jails', b'blogger', b'14', b'years', b'an', b'iranian', b'weblogger', b'jailed', b'14', b'years', b'charges', b'spying', b'aiding', b'foreign', b'counterrevolutionaries', b'arash', b'sigarchi', b'arrested', b'last', b'month', b'using', b'blog', b'criticise', b'arrest', b'online', b'journalists', b'mr', b'sigarchi', b'also', b'edits', b'newspaper', b'northern', b'iran', b'sentenced', b'revolutionary', b'court', b'gilan', b'area', b'his', b'sentence', b'criticised', b'human', b'rights', b'watchdog', b'reporters', b'without', b'borders', b'comes', b'day']
Label 4
[b'us', b'trade', b'gap', b'hits', b'record', b'2004', b'the', b'gap', b'us', b'exports', b'imports', b'hit', b'alltime', b'high', b'6717bn', b'\xc2\xa3484bn', b'2004', b'latest', b'figures', b'show', b'the', b'commerce', b'department', b'said', b'trade', b'deficit', b'last', b'year', b'244', b'previous', b'record', b'2003', b'imbalance', b'4965bn', b'the', b'deficit', b'china', b'305', b'162bn', b'largest', b'ever', b'recorded', b'single', b'country', b'however', b'monthly', b'basis', b'us', b'trade', b'gap']

In [41]:
for i, j in df.groupby('labelafterpca'):
    print('Label',i)
    print(' '.join(j['Preprocessed-Article']).lower().encode('utf-8').split()[:10])
    df['labelwithoutpca'].value_counts()
df['labelafterpca'].value_counts()

Label 0
[b'eu', b'software', b'patent', b'law', b'faces', b'axe', b'the', b'european', b'parliament', b'thrown']
Label 1
[b'edwards', b'tips', b'idowu', b'euro', b'gold', b'world', b'outdoor', b'triple', b'jump', b'record']
Label 2
[b'mutant', b'book', b'wins', b'guardian', b'prize', b'a', b'book', b'evolution', b'mutants', b'science']
Label 3
[b'iran', b'jails', b'blogger', b'14', b'years', b'an', b'iranian', b'weblogger', b'jailed', b'14']
Label 4
[b'playstation', b'3', b'chip', b'unveiled', b'details', b'chip', b'designed', b'power', b'sony', b'playstation']

3    107
2     65
0      3
4      2
1      2
Name: labelafterpca, dtype: int64

In [42]:
result = [164.83,95.52, 4, 48, 3,169, 'stages','paid']
result = pd.DataFrame(result)
result.to_csv('output.csv',index = False , header = False)